/*------------------------------------*\
  # Default settings
\*------------------------------------*/

*, *::before, *::after {
    font-family: "Quicksand", "Montserrat", "Helvetica Neue", sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 140px);
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s;
}

a:hover {
    color: gold;
}

::selection {
    background: rgba(254, 210, 43, 0.9);
    color: #171c1f;
}

/*------------------------------------*\
  # Form
\*------------------------------------*/

form {
    min-width: 360px;
    margin: 20px 0;
    padding: 20px;
    background-color: rgb(51, 51, 51);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

form label {
    width: 100%;
}

form p {
    font-weight: bold;
    margin: 5px 0 5px;
}

input,
textarea {
    padding: 7px;
    border: none;
    border-radius: 3px;
    resize: vertical;
}

input {
    width: 320px;
}

textarea {
    width: 100%;
}

button {
    padding: 7px;
    margin: 10px 0 0;
    background: gold;
    color: black;
    width: 150px;
    border-radius: 3px;
    border: 2px solid yellow;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: white;
    color: black;
    border-color: gold;
}

.field-error,
.form-error {
    color: red;
    font-size: .8em;
}

/*------------------------------------*\
  # Table
\*------------------------------------*/

table {
    color: white;
}

th,
td {
    word-break: break-all;
    background-color: rgb(90, 90, 90);
    border: 1px solid black;
    padding: 10px;
    border-radius: 4px;
    transition-duration: 1s;
    font-size: 13px;
}

th {
    background-color: rgb(51, 51, 51);
}

tr,
td,
th {
    padding: 10px;
    margin: 0;
}

th:hover,
td:hover {
    background-color: gold;
    transition: ease-in-out;
}

td.comment {
    max-width: 200px;
}

/*------------------------------------*\
  # Navigation
\*------------------------------------*/

header {
    background-color: rgb(51, 51, 51);
    height: 70px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 800px;
    min-width: 360px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    border-right: 1px dotted white;
    border-left: 1px dotted white;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

nav li {
    padding: 0 10px;
}

nav .active {
    color: gold;
}

/*------------------------------------*\
  # Footer
\*------------------------------------*/

footer {
    height: 70px;
    width: 100vw;
    background-color: rgb(51, 51, 51);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer span {
    color: white;
}

/*------------------------------------*\
  # Index page
\*------------------------------------*/

#hero-image {
    width: 100vw;
    height: 150px;
    background-image: url("/media/img/hero.jpg");
    background-color: rgb(51, 51, 51);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#services-container {
    max-width: 800px;
    height: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px;
}

#services-container .services-item {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border: 1px solid grey;
    text-align: center;
    color: black;
    border-radius: 10px;
    overflow: hidden;
}

#services-container .services-item:hover {
    background-color: gold;
}

#services-container .services-item:hover h2 {
    color: black;
}

#services-container .services-item:last-child {
    margin-bottom: 0;
}

#services-container img {
    height: 40%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#services-container img:hover {
    transform: scale(1.1);
}

#services-container h2 {
    padding: 5px;
    margin: 10px 0;
    animation: blinker 2s linear infinite;
    text-shadow: 1px 1px #333333;
    color: gold;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes blinker {
    50% {
        text-shadow: 1px 1px yellow;
    }
}

#services-container p {
    font-size: 12px;
    padding: 5px;
}

#map {
    width: 100vw;
    height: 300px;
}

#map iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/*------------------------------------*\
  # Feedback page
\*------------------------------------*/

#feedback-table {
    background-color: rgb(51, 51, 51);
    border-radius: 10px;
    min-width: 350px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#feedback-form {
    width: 100%;
    min-width: 350px;
    background-color: rgb(51, 51, 51);
    border-radius: 10px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    color: white;
}

#feedback-form a {
    color: gold;
}

#feedback-form form {
    margin: 0;
}

.success {
    animation: form-blinker 1s linear infinite;
}

@keyframes form-blinker {
    50% {
        background-color: gold;
    }
}

/*------------------------------------*\
  # Responsive design
\*------------------------------------*/

@media only screen and (min-width: 400px) {
    main,
    table {
        width: 100%;
        max-width: 800px;
    }

    #hero-image {
        height: 300px;
    }

    #services-container {
        height: auto;
    }

    #services-container .services-item {
        width: calc(50% - 10px);
        height: 350px;
    }

    #feedback-table,
    #feedback-form form {
        width: 100%;
    }
}

@media only screen and (min-width: 650px) {
    #services-container {
        height: 400px;
        flex-wrap: wrap;
    }

    #services-container .services-item {
        width: 30%;
        height: 100%;
    }

    #services-container .services-item:last-child {
        margin-bottom: 20px;
    }
}